<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <title>Про додаток</title>
  </head>
  <body>
    <h2>Проєкт: Цифрова дошка</h2>
    <h3>Мета проєкту</h3>
    <p>
      Метою даної кваліфікаційної роботи є дослідження та розробка системи
      цифрової дошки, яка здатна розпізнавати текст з камери у онлайн режимі та
      виводити його у текстовий формат. Важливим аспектом цього дослідження є
      розробка алгоритмів розпізнавання, виведення та можливості редагування
      тексту, забезпечуючи оптимальну швидкість та точність процесу
    </p>
    <h3>Виконав</h3>
    <p>студент групи МІСТ-2 Сайко Вадим Валентинович</p>
    <p><a href="/"><- Меню</a></p>
  </body>
</html>
