<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <title>Цифрова Дошка</title>
  </head>
  <body>
    <h2>Меню</h2>
    <ul>
      <li>
        <a href="/text-recognition">Додаток цифрова дошка</a>
      </li>
      <li>
        <a href="/about">Про додаток</a>
      </li>
    </ul>
  </body>
</html>
